.panel {
  margin-bottom: 10px;
}

.view-component {
  background-color: wheat;
}

.navbar-font {
  color: #801e0f;
}

.card {
  margin-top: 10px;
}

.post {
  border-radius: 10px;
}
.post-subtitle {
  color: #801e0f;
}

.post-points {
  color: #ad2611;
  padding: 4px;
  font-weight: bold;
  border-radius: 6px;
  border-style: solid;
  border-width: 2px;
  min-width: 5ch;
  display: inline-block;
  text-align: center;
  font-size: 11pt;

  position: absolute;
  bottom: 0;
  right: 15px;
}

.circle {
  margin-right: 6px;
}

.circle-container {
  padding-top: 6px;
}
